.fter {
    background-color: #3964e6; 
    color: white; 
    padding: 20px;
    justify-content: space-between;
    position: fixed; 
    bottom: 0; 
    width: 100%;
}

.social_links {
    margin-right: 20px;
    gap: 20px;
    font-size: 20px;
}

