* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.textAlignStart {
  text-align: start;
}

.textAlignCenter {
  text-align: center;
}

.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
