.title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #4169E1;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    border: 2px;
}

.img_card {
    width: 600px;
    height: 350px; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    overflow: hidden; 
}



.img {
    width: 100%; /* ocupar toda a largura do card */
    height: auto; /* altura automática para manter a proporção */
    object-fit: cover;
}

.card_text {
    width: 600px; 
    height: 350px;
}